<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="icon" href="{{ "/assets/favicon.ico" | relative_url }}" type="image/x-icon">

    {% if page.nomath %}{% else %}
    <script>
MathJax = {
  options: {
    enableExplorer: true,                // set to false to disable the explorer
    a11y: {
      speech: false,                      // speech output BLOCKS URLS
      braille: false,                     // Braille output BLOCKS URLS
      subtitles: true,                   // show speech as a subtitle
      viewBraille: false,                // display Braille output as subtitles
      help: true,                        // include "press h for help" messages on focus
      roleDescription: 'math',           // the role description to use for math expressions
      voicing: false,                    // switch on speech output

      backgroundColor: 'Blue',           // color for background of selected sub-expression
      backgroundOpacity: .2,             // opacity for background of selected sub-expression
      foregroundColor: 'Black',          // color to use for text of selected sub-expression
      foregroundOpacity: 1,              // opacity for text of selected sub-expression

      highlight: 'None',                 // type of highlighting for collapsible sub-expressions
      flame: false,                      // color collapsible sub-expressions
      hover: false,                      // show collapsible sub-expression on mouse hovering

      treeColoring: false,               // tree color expression

      magnification: 'None',             // type of magnification
      magnify: '400%',                   // percentage of magnification of zoomed expressions
      keyMagnifier: false,               // switch on magnification via key exploration
      mouseMagnifier: false,             // switch on magnification via mouse hovering
      align: 'top',                      // placement of magnified expression

      infoType: false,                   // show semantic type on mouse hovering
      infoRole: false,                   // show semantic role on mouse hovering
      infoPrefix: false,                 // show speech prefixes on mouse hovering
    }
  }
};
            document.addEventListener('DOMContentLoaded', function() {
            function stripcdata(x) {
                if (x.startsWith('% <![CDATA[') && x.endsWith('%]]>'))
                    return x.substring(11,x.length-4);
                return x;
            }
            document.querySelectorAll("script[type='math/tex']").forEach(function(el) {
              el.outerHTML = "\\(" + stripcdata(el.textContent) + "\\)";
            });
            document.querySelectorAll("script[type='math/tex; mode=display']").forEach(function(el) {
              el.outerHTML = "\\[" + stripcdata(el.textContent) + "\\]";
            });
            var script = document.createElement('script');
            script.src = "https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js";
            document.head.appendChild(script);
        }, false);
    </script>
    {% endif %}
</head>
