---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
// was: "Helvetica Neue", Helvetica, Arial, sans-serif; 16px; 400; 0.875; 1.5
$base-font-family: Georgia, Times, "Times New Roman", serif;
$base-font-size:   17px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.824;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
// was: 800px
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

// Customization starts here
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

dt {
  font-weight: bold;
}
dd {
  margin-left: 2em;
}
body {
  background: #99c0f8;
}
.page-content {
  background: #ffffff;
}
.site-header {
  border-bottom: 1px solid #5f1400;
}
.site-footer {
  border-top: 1px solid #5f1400;
}

// WTF this is not coming through in the local css but it is on github
.site-nav .nav-trigger { display: none; }
